<style>
#nav {
    background-color: black;
    padding: 20px;
    display: flex;
}

#nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
</style>

<div id="nav">
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/profile">Profile</a>
    <div style="flex: 1"></div>
    <a href="/logout">Log out</a>
</div>