<html>
    <body style="background: #F2F6FF; display: flex; justify-content: center; align-items: center;">
        <%- body %> 
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>

