<div style="background-color: lightgray; padding: 20px; width: 100%; text-align: center;">
    is my post page
    <form action="/post" method="POST" style="width: 70%; margin: auto; background-color: royalblue; text-align: center;">
        <input type="text" name="PostBody" placeholder="Post">
        <button>Submit</button>
    </form>
</div>
