<style>
    .post__wrapper {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .post__header {
        height: 60px;
        padding: 16px;
        margin-bottom: 16px;
    }

    .post__header .post__username {
        font-weight: bold;
    }

    .post__header .post__date {
        color: gray;
    }

    .post__image {
        overflow: hidden;
        margin-bottom: 10px;
    }

    .post__image img{
        object-fit: cover;
        width: 100%;
    }

    .post__text {
        padding: 16px;
    }
</style>




<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<div style="background-color: rgb(238, 238, 238); 
    padding: 24px">

    <div id="app">
        <div v-for="p in posts">
            <div class="post__wrapper">

                <div class="post__header">
                    <div class="post__username">{{p.user.fullName}}</div>
                    <div class="post__date">{{new Date(p.createdAt).toLocaleTimeString() 
                        + " "  + new Date(p.createdAt).toLocaleDateString()}}
                    </div>
                </div>

                <div class="post__image">
                    <img :src="p.imageUrl" alt="postImage">
                </div>
                <div class="post__text">
                    {{p.text}}
                </div>
                <button v-on:click="deletePost(p)">DELETE</button>
            </div>
        </div>
    </div>
</div>




<script>
    var app = new Vue({
        el: "#app",
        data: {
            posts: window.SAILS_LOCALS.allPosts
        },
        methods: {
            deletePost: async function(post) {
                const postId = post.id

                try {
                    await axios.delete(`/post/${postId}`)
                    this.posts = this.posts.filter(p => {
                        return p.id != post.id
                    })
                } catch(error) {
                    console.log(error.toString())
                }
            }
        }
    })
</script>